<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  <add key="Neodatus Package" value="https://www.myget.org/feed/Packages/applicationcore" />
  <add key="Locales" value="C:\NugetNeodatus" />
 </packageSources>
</configuration>
