@using SARH.WebUI.Models.Configuration
@model NonWorkingDayModel
@{
    ViewData["Title"] = "Dias no laborables";
    ViewData["PageName"] = "Dias no laborables";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-birthday-cake'></i> Dias no laborables";
    ViewData["PageDescription"] = "Configuración de dias no laborables";
}
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/notifications/sweetalert2/sweetalert2.bundle.css">
}

<div class="subheader">
    <ol class="breadcrumb breadcrumb-lg breadcrumb-arrow mb-0">
        <li>
            <a href='@Url.Action("Index","Home")'>
                <i class="fal fa-home"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fal fa-birthday-cake"></i>
                <span class="hidden-lg-down">Dias no laborables</span>
            </a>
        </li>
    </ol>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Configurar días no laborables <span class="fw-300"><i></i></span>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-group row">


                        <div class="col-lg-6">
                            <form>
                                <div class="form-group">
                                    <label class="form-label">Dias no laborables</label>
                                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                                        <thead class="bg-warning-200">
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Descripción</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.NonWorkingDays)
                                            {
                                                <tr id="@item.Id">
                                                    <td>@item.Holiday</td>
                                                    <td>@item.Description</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-3">

                            <div class="form-group">
                                <label class="form-label">Seleccione la fecha</label>
                                <div id="datepicker-6"></div>
                            </div>

                        </div>

                        <div class="col-lg-3">

                            <div class="form-group">
                                <label class="form-label">Descripción de la fecha</label>
                                <input type="text" id="editinput" class="form-control" placeholder="Descripcion de la fecha">
                                <hr />
                                <center>
                                    <button id="addHoliday" type="button" class="btn btn-lg btn-info waves-effect waves-themed">
                                        <span class="fal fa-plus mr-1"></span>
                                        Agregar fecha
                                    </button>
                                </center>
                            </div>

                        </div>
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id='QA' type="hidden" />

@section ScriptsBlock {

    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script>



        // Class definition

        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }

        var runDatePicker = function () {

            $('#datepicker-6').datepicker({
                clearBtn: false,
                todayHighlight: false,
                multidate: false,
                todayHighlight: true,
                templates: controls,
                format: 'DD/MM/YYYY HH:mm:ss'
            }).on('changeDate', function (e) {

                $('#QA').val(convert(e.date));
            });

        }


        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            hours = ("0" + date.getHours()).slice(-2);
            minutes = ("0" + date.getMinutes()).slice(-2);
            return [day, mnth, date.getFullYear()].join("/");
        }


        $(document).ready(function () {

            runDatePicker();

            $('#dt-basic-example').dataTable(
                {
                    responsive: true,
                    columnDefs: [
                        {
                            targets: -1,
                            title: '',
                            orderable: false,
                            render: function (data, type, full, meta) {
                                /*
                                -- ES6
                                -- convert using https://babeljs.io online transpiler
                                return `
                                <a href='javascript:void(0);' class='btn btn-sm btn-icon btn-outline-danger rounded-circle mr-1' title='Delete Record'>
                                    <i class="fal fa-times"></i>
                                </a>
                                <div class='dropdown d-inline-block dropleft '>
                                    <a href='#'' class='btn btn-sm btn-icon btn-outline-primary rounded-circle shadow-0' data-toggle='dropdown' aria-expanded='true' title='More options'>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </a>
                                    <div class='dropdown-menu'>
                                        <a class='dropdown-item' href='javascript:void(0);'>Change Status</a>
                                        <a class='dropdown-item' href='javascript:void(0);'>Generate Report</a>
                                    </div>
                                </div>`;
                                ES5 example below:
                                */
                                return "\n\t\t\t\t\t\t<a href='javascript:void(0);' class='deleterow btn btn-sm btn-icon btn-outline-primary rounded-circle mr-1' title='Deshabilitar registro'>\n\t\t\t\t\t\t\t<i class=\"fal fa-window-close\"></i>";
                            },
                        },
                    ]
                });

            $('.deleterow').click(function () {


                var id = $(this).closest('tr').attr('id');

                var swalWithBootstrapButtons = Swal.mixin(
                    {
                        customClass:
                        {
                            confirmButton: "btn btn-primary",
                            cancelButton: "btn btn-danger mr-2"
                        },
                        buttonsStyling: false
                    });
                swalWithBootstrapButtons
                    .fire(
                        {
                            title: "Confirmación",
                            text: "Deseas eliminar el elemento?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Si",
                            cancelButtonText: "Cancelar",
                            reverseButtons: true
                        })
                    .then(function (result) {

                        if (result.value) {


                            $.ajax({
                                url: '/NonWorkingDays/DeleteHoliday',
                                type: "POST",
                                data: { id: id },
                                success: function (data, textStatus, jqXHR) {

                                    Swal.fire(
                                        {
                                            position: "top-end",
                                            type: "success",
                                            title: "Actualización exitosa",
                                            showConfirmButton: false,
                                            timer: 1500
                                        }).then((result) => {


                                            window.location.href = '/NonWorkingDays/Index';

                                        });



                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown);
                                }
                            });
                        }
                        else if (
                            // Read more about handling dismissals
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                "Cancelación",
                                "Se ha cancelado la acción",
                                "error"
                            );
                        }
                    });

            });

            $('#addHoliday').click(function () {


                if ($('#QA').val() === "" || $('#editinput').val() === "") {

                    Swal.fire(
                        {
                            type: "warning",
                            title: "Validación",
                            text: "Debe seleccionar una fecha e ingresar la descripción"
                        });

                    return;
                }


                var formData = { holiday: $('#QA').val(), Description: $('#editinput').val() };

                $.ajax({
                    url: '/NonWorkingDays/SaveHoliday',
                    type: "POST",
                    data: formData,
                    success: function (data, textStatus, jqXHR) {


                        if (data.response === "ok") {
                            Swal.fire(
                                {
                                    position: "top-end",
                                    type: "success",
                                    title: "Actualización exitosa",
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then((result) => {

                                    window.location.href = '/NonWorkingDays/Index';

                                });
                        }
                        else {

                            Swal.fire(
                                {
                                    type: "warning",
                                    title: "Validación",
                                    text: data.message
                                });
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });

            });

        });

    </script>
}
