<div class="d-block text-center text-white">
    2019 © Copyright by Industrias Sandoval de Occidente, S.A de C.V &nbsp;<a href='https://www.isosa.com/' class='text-primary fw-500' title='Industrias Sandoval de Occidente, S.A de C.V' target='_blank'>isosa.com/</a>
</div>