<div class="page-logo">
	<a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut" style="left: -25%;">
		<img src="~/img/@ViewBag.Logo" alt="@ViewBag.AppFlavor" aria-roledescription="logo">
	</a>
</div>