@if (ViewBag.AppFooter?.Length > 0)
{
<footer class="page-footer" role="contentinfo">
	<div class="d-flex align-items-center flex-1 text-muted">
		                        <span class="hidden-md-down fw-700">2019 © Copyright by Industrias Sandoval de Occidente, S.A de C.V &nbsp;<a href='https://www.isosa.com/' class='text-primary fw-500' title='Industrias Sandoval de Occidente, S.A de C.V' target='_blank'>isosa.com/</a></span>
	</div>
	<div>
		<ul class="list-table m-0">
                            <li class="pl-3"><a href="https://www.facebook.com/pages/Industrias-Sandoval/245539315488448" class="text-secondary fw-700" target='_blank'>Facebook</a></li>
                            <li class="pl-3"><a href="https://twitter.com/SANDOVALmuelles" class="text-secondary fw-700"  target="_blank">Twitter</a></li>
		</ul>
	</div>
</footer>
}